<?xml version="1.0" encoding="utf-8"?>
<manifest package="me.jimmyshaw.politicalpositions"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".IssueListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".QuotePagerActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:parentActivityName=".IssueListActivity">
        </activity>
        <activity
            android:name=".AboutPageActivity"
            android:label="About This App"
            android:theme="@style/AppTheme"
            android:parentActivityName=".IssueListActivity">
        </activity>
    </application>

</manifest>